.drop-down {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: transparent;
  // box-shadow: 0 4px 8px rgba($color: #000000, $alpha: 0.3);
  width: 170px;
  padding: 0.2rem 1rem;
  cursor: pointer;
  border-radius: 5px;

  svg {
    font-size: 30px;
  }
  .wrapper-navbar {
    display: flex;
    justify-content: flex-end;

    gap: 0.5rem;
    align-items: center;
    img {
      height: 25px;
      
    }
  }
  .list {
    background-color: #fff;
    position: absolute;
    top: 35px;
    left: 0;
    // border-radius: 0 0 5px 5px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba($color: #000000, $alpha: 0.322);
    cursor: pointer;
    max-height: 250px;
    // overflow-y: scroll;
    width: 100%;
    display: none;
    .item {
      display: flex;
      align-items: center;
      padding: 0.5rem 1rem;
      gap: 0.5rem;
      &:hover {
        background-color: rgb(211, 211, 211);
      }
      img {
        height: 25px;
        border-radius: 2px;
      }
    }
    &.show {
      display: block;
    }
  }
}
